extends layout 

block content 
  if currentUser 
    a.float-end.me-5.fs-3#logoutLink(href="/logout") Log out
  .formContainer
    form(method="POST").d-flex.flex-column.align-items-center.col-md-3.col
      h1.text-center= title 
      div.form-group.mb-3.w-100
        label(for="firstname") First name:
        input#firstname.form-control(type="text" required placeholder="First name" autocomplete="off" name="firstname" value=(undefined===user ? '' : user.firstname))
      div.form-group.mb-3.w-100
        label.mx-auto(for="lastname") Last name:
        input#lastname.form-control(type="text" required placeholder="Last name" autocomplete="off" name="lastname" value=(undefined===user ? '' : user.lastname))
      div.form-group.mb-3.w-100
        label(for="username") Username:
        input#username.form-control(type="text" required placeholder="Username" autocomplete="off" name="username" value=(undefined===user ? '' : user.username))
      div.form-group.mb-3.w-100
        label(for="password") Password:
        input#password.form-control(type="password" required placeholder="Password" autocomplete="off" name="password")
      div.form-group.mb-3.w-100
        label(for="passConfirm") Confirm password:
        input#passConfirm.form-control(type="password" required placeholder="Password" autocomplete="off" name="passConfirm")
      button.btn.btn-outline-primary(type="submit") Submit

    if errors 
      ul.mt-3
        for error in errors
          li.text-danger= error.msg